<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>BBT</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

<body onload="window_onload()" onunload="window_onunload()">
	<div class="container">
	    <div class="page-header" style="background-color: #bbb;">
			<h1>BB Chat (-^O^-)</h1>
		</div>
		<div class="row" style="margin: 16px;">
			<p style="display: inline;"><span class="glyphicon glyphicon-user"></span> 用户名:</p>
			<input type="text" id="tbxUsername" value="游客" size="20"/>
			<button type="button" class="btn btn-success" id="btnLogin" onclick="btnLogin_onclick()">登录</button>
			<button type="button" class="btn btn-danger" id="btnLogout" onclick="btnLogout_onclick()" disabled="disabled">退出</button>
		</div>
	</div>
	<div class="container">
		<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">对话窗口</div>
			<div class="panel-body" id="divchat" style="height: 380px;overflow: auto;background-color: #f0f0f0;"></div>
			<div class="panel-footer" style="position: relative;">
				<textarea id="tbxMsg" style="height: 150px; width: 650px" placeholder=" enter to send"></textarea>
				<input id="colorStyle" type="color" placeholder='#000' title="font color"/>
				<input id="emoji" type="button" value="emoji" />
				<input id="sendImage" type="file" value="sendImage" />
				<div class="clearfix"></div>
				<button type="button" class="btn btn-primary" id="btnSend" onclick="btnSend_onclick();" disabled="disabled">发 送</button>
				<button type="button" class="btn btn-default" id="btnClear" onclick="btnClear()">清 空</button>
				<div id="emojiWrapper"></div>
			</div>
		</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
  			<div class="panel-heading">聊天室成员</div>
  			<div class="panel-body" id="divRight" style="height: 588px">
  			</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>  
<script type="text/javascript" src="javascripts/kk.js"></script>
</html>

